[submodule "profile-service"]
	path = profile-service
	url = git@github.com:MsngrBackend/ProfileService.git
[submodule "auth-service"]
	path = auth-service
	url = git@github.com:MsngrBackend/AuthService.git
[submodule "message-service"]
	path = message-service
	url = git@github.com:MsngrBackend/MessageService.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:MsngrBackend/FrontendService.git
